
  h1 {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    text-align: center;
    color: blueviolet;
    text-shadow: 5px 5px 10px black;
  }
  
  body{
    background-color: lightsteelblue;

  }
  
  h6{
    text-align: center;
      text-decoration: overline;
  }

  p {
font-family: Arial;
font-size: 20px;
    }

  

/* Flex Container */
  .flex-container {
  display: flex;
  background-color: dodgerblue;
  flex-direction: column;
  justify-content: center, flex-start; flex-end;
  flex-wrap: wrap;
  align-items: center; stretch;
}


/* Flex Container */
.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 20px;
   text-align: center;
  line-height: 50px;
  font-size: 30px;
}

/* Grid Container - 
The vertical lines of grid items are called columns.
The horizontal lines of grid items are called rows.
The spaces between each column/row are called gaps.
 */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  background-color: #6747;
  padding: 40px;
}

/* Grid Container */
.grid-container > div {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.box {
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
  border-radius: 5px;
        }
    
.dot {
  height: 55px;
  width: 55px;
  background-color: white;
  border-radius: 70%;
  display: inline-block;
}

    input[type=submit] {
    padding:5px 15px; 
        background:#157; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    text-align: center;
}

  input[type=file] {
    padding:5px 15px; 
    background:#157; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    text-align: center;
}

input[type=text] {
    padding:5px; 
    border:5px solid #ccc; 
    border-radius: 10px;
}


/* Butto Styling */
.button {
  background-color: #4CAF50; /* Green */
  border-radius: 25px; /* Round Corners */
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

image-rendering: pixelated;

