body {
    --color-primary: #378112;
    --color-primary-dark: #7474c5;
    --color-secondary: #1ca85b;
    --color-error: #641717;
    --color-success: hsl(167, 94%, 39%);
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: var(--color-secondary);
    
    background-size:contain;
    
}

    .container{
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
    
    width: 400px;
    padding: 2rem;
    box-shadow:0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--color-primary);
    background: hsl(240, 18%, 97%);
}

.container,
.form__input,
.form__button{
    
    font-family: 'kanit', sans-serif;
}

.form--hidden{
    display: none;
}
.form > *:first-child{
    margin-top: 0;
}
.form > *:last-child{
    margin-bottom: 0;
}
.form__title{
    margin-bottom: 2rem;
    text-align: center;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success{
    color: var(--color-success);
}
.form__message--error{
    color: var(--color-error);
}
.form__input-group{
    margin-bottom: 1rem;
}
.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--color-primary-dark);
    outline: none;
    border: 1px solid #5ca08e;
    background: azure;
    transition: background 0.2s, border-color 0.2s;
}
.form__input:focus{
    border-color: aqua;
}
.form__input--error{
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}
.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: beige;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);

}
.form__button:hover{
    background: #1f4e42;
}
.form__button:active{
    transform: scale(0.98);
}
.form__text{
    text-align: center;

}
.form__link{
    color: var(--color-primary-dark);
    text-decoration: none;
    cursor: pointer;
}
.form__link:hover{
    text-decoration: underline;
}